@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Monserrat', sans-serif;
}
/* flex-wrap:pour forcer les éléments à revenir à la ligne 
justify-content:centrer horizontalement
align-items:centrer verticalement*/
nav{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #D4AF37; 

}

nav h1{
    /* color:#E6BE8A; */
    color: #D4AF37;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;

}
.onglets{
    margin-top: 3px;
    margin-left: 300px;
}
.onglets a {
    text-decoration: none;
    color: #D4AF37;
    margin-right: 10px;
    padding-bottom: 5px;
    
}
.onglets a:hover {
      text-decoration: underline;
}
header{
    background-image: url('image/Grilled\ Steak\ with\ Fries\ and\ Vegetables.jpeg'
    );
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* background-size: 100px; */
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    padding: 152px;
}
header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
}
header button {
    padding: 10px 20px;
    background-color: #D4AF37;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width:680px) {
    .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}