@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Monserrat', sans-serif;
}
/* flex-wrap:pour forcer les éléments à revenir à la ligne 
justify-content:centrer horizontalement
align-items:centrer verticalement*/
nav{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #381c0b  ;  

}

nav h1{
    /* color:#E6BE8A; */
    color: #D4AF37;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;

}
.onglets{
    margin-top: 3px;
    margin-left: 300px;
}
.onglets a {
    text-decoration: none;
    color: #D4AF37;
    margin-right: 10px;
    padding-bottom: 5px;
    transition: all 0.6s ease;
    
}
.onglets a:hover {
      text-decoration: underline;
}
header{
    background-image: url('image/header\ site\ de\ restaurant\ \(2\).jpg'
    );
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    padding: 160px;
    margin-bottom: 20px;
    
    
}
header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
}
header button {
    padding: 10px 20px;
    background-color:  rgba(255, 255, 255, 0.5);
    border: 1px solid #D4AF37;
    color: #000;
    border-radius: 45px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    transition:all 0.3s ease;
}
button:hover {
    background-color: #D4AF37;
    color: #000;
    /* cursor: pointer; */
}
.main{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #381c0b;
  }

.main  img {
    height: 300px;
    width:400px;
    margin-top: 5px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
/* flex:taille fixe à 30%.Ne grandit ni ne rétrécit(flex grow=0 ne peut pas grandir , flex shrink=0 ne peut pas rétrécir,flex basis=30% la taille de base de l'élément est à 30% */
.left {
    flex: 0 0 30%;
    padding: 20px;
    background-color:#D4AF37;
    color: #fff;
}
.right img {
    flex: 0 0 70%;
}


@media screen and (max-width:680px) {
    .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}